{% extends "polly_bob/base.html" %}
{% load bootstrap3 %}
{% block content %}
<form action="" method="post">{% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit">save</button>
</form>
{% endblock %}
