{% load staticfiles i18n pipeline %}<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
<head>
    <title>{% block title %}POLLY &amp; BOB{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    {% block css %}
        {% stylesheet 'app' %}
    {% endblock %}
    {% block js %}
        {% javascript 'app' %}
        <script>
{#            $(document).ready(function () {#}
{#                {% if token %}#}
{#                    var socket = community.chat.connect('ws://localhost:9001', '{{ token.id.hex }}');#}
{#                    window.websocket = socket;#}
{#                {% endif %}#}
{##}
{#            });#}
        </script>
    {% endblock %}

</head>
<body>
{% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
{% endblock messages %}
{% comment %}
{{ user }}
<a href="{% url 'profile_update' %}">edit profile</a>
{% endcomment %}
<div id="page">
    {% block header %}
        <div id="header-landing">
            <div class="header__logo-wrapper--landing">
                <img class="header__logo--landing" src="{% static 'polly_bob/images/logo.png' %}" />
            </div>
            <div class="header__slogan">We connect you with your neighborhood</div>
            <div class="header__neighborhood-button-wrapper">
                <a href"#" class="btn btn-primary">
                <span class="header__neighborhood-button-heading">My neighborhood</span><br />
                One click to your neighborhood
                </a>
            </div>
            <div class="header__login-box">
                <ul class="nav nav-tabs header__login-box-tabs" role="tablist">
                    <li role="presentation" class="header__login-box-tab active">
                        <a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a>
                    </li>
                    <li role="presentation" class="header__login-box-tab"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
                </ul>
                <div class="tab-content header__login-box-tab-content">
                    <div role="tabpanel" class="tab-pane active" id="register">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username or email" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Stay logged in
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a class="header__login-forget-password" href="#">Forgot password</a>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="login">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username or email" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Stay logged in
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a class="header__login-forget-password" href="#">Forgot password</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <div id="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

</body>
</html>
