{% extends 'polly_bob/base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block header %} {% endblock %}
{% block content %}
    <img src="{{ group.large_image }}" style="margin-bottom: 2em;">
    <div class="row">
        <div class="col-md-4">
            <div id="group-members" style="background-color:white; padding: 1em;">
                <h4>Mitglieder ({{ group.members.count }})</h4>
                {% for member in members %}
                    <div style="display:inline-block; margin:0.2em; border:1px solid ghostwhite;">
                        <img src="{{ member.profile.thumbnail_small }}"></img>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="col-md-8">
            <div style="background-color:white; padding: 1em; min-height:1000px">
                <h2>{{ group.name }}</h2>
                <div>{{ group.description }}</div>
            </div>

        </div>
    </div>
{% endblock%}

