{% extends 'polly_bob/base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="option-tool">
                {% for category in categories %}
                    <button class="btn btn-primary option-tool-button">
                        {{ category.value }} {# ({{ category.listings.count }}) #}
                    </button>
                {% endfor %}
            </div>
            <div id="distance-slider">
                Umkreis:
                <input type="range" min="500" max="5000" step="500">
                <div style="float:left">500m</div><div style="float:right">5km</div>
                <div class="clearfix"></div>
            </div>
            <div id="zip-code-input">
                Meine PLZ: <strong>10243</strong>
            </div>
        </div>
        <div class="col-md-8">
            <div id="listings">
                {% for item in items %}
                    {% include 'polly_bob/listing_fragment.html' with listing=item %}
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock%}

