{% extends 'polly_bob/base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block header %} {% endblock %}
{% block content %}

    <div class="listings__listing">
        <img src="{{ listing.large_image }}">
        <div class="listing-content" style="margin:4em; min-height:1000px">
            <h2>{{ listing.title }}</h2>
            <p>{{ listing.category }}</p>
        {% comment %}
            <a href="{% url 'pb_profile' user_id=listing.creator.id %}">{{ listing.creator.display_name }}</a>
            {% endcomment %}
            <p>{{ listing.text|safe }}</p>
            {% if listing.cs.count > 0 %}
                {% for comment in listing.cs %}
                    <div class="comment">
                        {{ comment.author.display_name }}, {{ comment.created_at }}: {{ comment.text }}
                    </div>

                {% endfor %}
            {% endif %}
        </div>


    </div>

{% endblock%}

