{% load listings %}

<div class="listings__listing{% if listing.unread %} unread{% endif %}">
    <div class="listings__listing-image">
        <a href="{{ listing.url }}"><img src="{{ listing.image }}"></a>
    </div>
    <div class="listings__listing-content">
        <a href="{{ listing.url }}"><h2 class="listings__listing-heading">{{ listing.title|truncatechars:50 }}</h2></a>
        {# <p>{{ listing.tag_texts|join:', ' }}</p> #}
        <p>{{ listing | distance_m }}</p>
        {% if listing.category %}
            <p>{{ listing.category.value }}</p>
        {% endif %}
        {% if listing.creator %}
        <a href="{% url 'pb_profile' user_id=listing.creator.id %}">{{ listing.creator.display_name }}</a>
        {% endif %}
        <p>{{ listing.text|safe|truncatechars:550 }}</p>
    </div>
</div>