{% extends 'polly_bob/base.html' %}
{% load bootstrap3 static %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'polly_bob/js/profile.js' %}"></script>
{% endblock %}

{% block content %}
  <div>
    <form action="{% url 'profile_change_password' %}" method="post">{% csrf_token %}
      {% bootstrap_form ChangePasswordForm %}
      <button type="submit">save</button>
    </form>
  </div>
  <div>
    <form id="wtform" action="{% url 'profile_change_email' %}" method="post">{% csrf_token %}
      {% bootstrap_form ChangeEmailForm %}
      <button type="submit">save</button>
    </form>
  </div>
  <div>
    <form action="{% url 'profile_notifications' %}" method="post">{% csrf_token %}
      {% bootstrap_form EmailNotificationsForm %}
      <button type="submit">save</button>
    </form>
  </div>
{% endblock %}
