<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form action="" method="post">{% csrf_token %}
  {{ form }}
  <button type="submit">Log in</button>
</form>
</body>
</html>